config SKW_USB
	tristate "SeekWave USB Support"
	depends on USB ||COMPILE_TEST
	default n
	help
	  Enable this module for WCN_USB
	  chip usb interface bus Support.
	  Please insmod this module before any other
	  WCN subsystems. Thanks.

