config SKW_BT
        tristate "Seekwave BT driver"
        depends on (SEEKWAVE_BSP_DRIVERS || SEEKWAVE_BSP_DRIVERS_V20) && MMC
        default m
        help
          The driver for seekwave Bluetooth chipsets .

          Say Y here to compile support for Seekwave BT driver
          into the kernel or say M to compile it as module.

