menuconfig SEEKWAVE_BSP_DRIVERS
        bool "SeekWave Platform Drivers For SeekWave Chip"
        default y
        help
        This is support seekwave chip for incard board
        if you want to buildin bsp driver
        please say "y" 
        Thanks.

config SEEKWAVE_PLD_RELEASE
    bool "seekwave Platfrom support chip recoverymode"
    depends on SEEKWAVE_BSP_DRIVERS
    default n

config SKW_NO_CONFIG
    bool "skw no config dts"
    depends on SEEKWAVE_BSP_DRIVERS
    default n

#seekwave`s wifi bluetooth device driver etc
if  SEEKWAVE_BSP_DRIVERS
source "drivers/net/wireless/vs6621s/seekwaveplatform_lite/usb/Kconfig"
source "drivers/net/wireless/vs6621s/seekwaveplatform_lite/sdio/Kconfig"
source "drivers/net/wireless/vs6621s/seekwaveplatform_lite/skwutil/Kconfig"
endif
