
config VS6621S
    tristate "SKW wifi module VS6621S"
    help
      This driver supports the VS6621S WiFi module.
      To compile this driver as a module, choose M here: the module will be
      called vs6621s.

source "drivers/net/wireless/vs6621s/seekwaveplatform_lite/Kconfig"
source "drivers/net/wireless/vs6621s/swt6621s_wifi/Kconfig"
source "drivers/net/wireless/vs6621s/swtbt4l/Kconfig"
